<h2 mat-dialog-title>Registro de Módulos</h2>
<mat-dialog-content>
  <div
    style="justify-content: space-between; display: flex; margin-top: 20px; margin-bottom: 10px"
  >
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Nome</mat-label>
      <input matInput [formControl]="form.controls['name']" />
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Descrição</mat-label>
      <input matInput [formControl]="form.controls['description']" />
    </mat-form-field>

    <button mat-flat-button color="primary" (click)="addLocation()">
      <mat-icon>add</mat-icon>
      Adicionar Local
    </button>
  </div>

  @for(location of module().locations; track location) {
  <app-location-detail
    [location]="location"
    (locationChange)="updateLocation($index, $event)"
  >
  </app-location-detail>
  }
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button (click)="registerModule()">Registrar</button>
</mat-dialog-actions>
