<h2 mat-dialog-title>Registro de Módulos</h2>
<mat-dialog-content>
  <div
    style="justify-content: space-between; display: flex; margin-bottom: 10px"
  >
    <mat-form-field appearance="outline">
      <mat-label>Selecione o setor</mat-label>
      <mat-select [(ngModel)]="module().name">
        @for(tag of tags; track tag) {
        <mat-option [value]="tag">
          {{ tag }}
        </mat-option>
        }
      </mat-select>
    </mat-form-field>
    <button mat-flat-button color="primary" (click)="addSensor()">
      <mat-icon>add</mat-icon>
      Adicionar Sensor
    </button>
  </div>

  @for(sensor of module().locations; track sensor) {
  <mat-card appearance="outlined" style="margin-bottom: 10px">
    <mat-card-content style="display: flex; justify-content: space-between">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Nome</mat-label>
        <input matInput [(ngModel)]="sensor.name" />
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Descrição</mat-label>
        <input
          matInput
          [(ngModel)]="sensor.description"
          appearance="outlined"
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Tipo de Sensor</mat-label>
        <mat-select [(ngModel)]="sensor.type">
          <mat-option value="Humidity"> Umidade </mat-option>
          <mat-option value="DryBulbTemperature"> Bulbo Seco </mat-option>
          <mat-option value="DarkBulbTemperature"> Bulbo Escuro </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
  </mat-card>
  }
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button (click)="registerModule()">Registrar</button>
</mat-dialog-actions>
