<h2 mat-dialog-title>
  {{ moduleState().id ? 'Atualizar módulo' : 'Registrar módulo' }}
</h2>
<mat-dialog-content>
  <div
    style="justify-content: space-between; display: flex; margin-top: 20px; margin-bottom: 10px"
  >
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Nome do Módulo</mat-label>
      <input matInput [formControl]="form.controls['name']" />
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Descrição</mat-label>
      <input matInput [formControl]="form.controls['description']" />
    </mat-form-field>

    <button mat-flat-button color="primary" (click)="addLocation()">
      <mat-icon>add</mat-icon>
      Adicionar Local
    </button>
  </div>

  @if (locations().length > 0) {
    <h2 mat-dialog-title style="margin-top: -25px; text-align: center">
      Locais
      <mat-divider></mat-divider>
    </h2>
    @for(location of locations(); track location) {
      <app-location-detail
        [location]="location"
        (locationChange)="updateLocation($index, $event)">
      </app-location-detail>
    }
  } @else {
    <p style="text-align: center; margin-top: 20px">
      Nenhum local adicionado.
    </p>
  }

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button (click)="saveModule()">{{ moduleState().id ? 'Atualizar' : 'Registrar' }}</button>
</mat-dialog-actions>
