<div class="titulo">
  <h2>Detalhes da Empresa</h2>
  <button mat-flat-button color="primary" (click)="openEditCompanyDialog()">
    <mat-icon>edit</mat-icon>
    Editar Empresa
  </button>
</div>

<label><span>Identificador:</span> {{ company.id }} </label><br />
<label><span>Nome:</span> {{ company.name }} </label>

<div class="titulo">
  <h2>Módulos vinculados</h2>
  <button mat-flat-button color="accent" (click)="openDialog()">
    <mat-icon>add</mat-icon>
    Adicionar Módulo
  </button>
</div>
<mat-accordion class="headers-align" multi>
  @for (module of modules; track module){
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>{{ module.name }}</mat-panel-title>
      <mat-panel-description class="panel-description">
        <p class="module-description">{{ module.description }}</p>
        <div class="access-token"
            [ngClass]="{ 'active': module.accessToken?.isActive, 'inactive': !module.accessToken?.isActive }">
          Token: {{ module.accessToken?.token }}
          <button mat-icon-button (click)="$event.stopPropagation(); refreshModuleToken(module)">
            <mat-icon>refresh</mat-icon>
          </button>
        </div>

        <button mat-icon-button (click)="$event.stopPropagation(); updateModule(module)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="$event.stopPropagation(); deleteModule(module)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-panel-description>
    </mat-expansion-panel-header>
    @if((module.locations ?? []).length > 0){
    <table
      mat-table
      [dataSource]="module.locations ?? []"
      class="mat-elevation-z8"
    >
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Descrição</th>
        <td mat-cell *matCellDef="let element">{{ element.description }}</td>
      </ng-container>

      <ng-container matColumnDef="risks">
        <th mat-header-cell *matHeaderCellDef>Tipo de Riscos</th>
        <td mat-cell *matCellDef="let element">
          <mat-chip *ngFor="let risk of element.riskLimits">
            {{ risk.type }}
          </mat-chip>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    }@else {
    <div class="no-sensors">
      <mat-icon>info</mat-icon>
      <span>Nenhum sensor cadastrado.</span>
    </div>
    }
  </mat-expansion-panel>
  }
</mat-accordion>
